html, body {
	height: 100%;
	background-color: rgb(256,51,25);
}

h1 {
	text-align: center;
	font-family: 'Anton','sans-serif';
	font-size: 600%;
}
h2 {
	text-align: center;
	font-family: 'Anton','sans-serif';
	font-size: 400%;
}

h3 {
	text-align: center;
	font-family: 'Anton','sans-serif';
}

h5 {
	text-align: center;
	font-family: 'Anton','sans-serif';
	font-size:100%;
}

.calligraphy {
	background-image: url("media/gen_boutons.php.png");
	height: 60%;
  	background-repeat: no-repeat;
  	background-size: contain;
}

.card {
	width: 90%;
	height: auto;
	/*size: cover;*/
}

.card img {
	height: 50%;
	size: fill;
}

.form {
	padding: 5em;
	text-align: center;
}