html, body {
	height: 100%;
	background-color: rgb(256,51,25);
}

h1 {
	text-align: center;
	font-family: 'Anton','sans-serif';
	font-size: 500%;
}
h6 {
	text-align: center;
	font-family: 'Anton','sans-serif';
	font-size:100%;
}

.calligraphy {
	background-image: url("media/gen_boutons.php.png");
	height: 60%;
  	background-repeat: no-repeat;
  	background-size: contain;
}

.card {
	width: 90%;
	height: 50%;
}

.card img {
	size: contain;
}